<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuva Anubhav</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Yuva Anubhav</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li id="chatbot-link"><a href="/chatbot">Chatbot</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Welcome to Yuva Anubhav</h1>
                <p class="italic">Where digital empowerment knows no age limits</p>
                <div class="intro">
                    <p>Yuva Anubhav – your saarthi in digital empowerment for seniors. At Yuva Anubhav, we are dedicated
                        to bridging the digital divide by providing essential technology skills and unwavering support
                        to senior citizens. Our mission is simple yet profound: to empower seniors to navigate the
                        digital world confidently, improving their quality of life and fostering a more connected,
                        inclusive community.</p>
                    <p>Get quick and effective responses for your tech worries with Saarthi : your new assistant for tech worries!</p>
                    
                    <p>Join us to become a volunteer or get your queries answered one-on-one! Download the app now!</p>
                </div>
                <div class="buttons">
                    <a href="https://yuva-anubhav-apk.s3.ap-south-1.amazonaws.com/app-release.apk?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjELb%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmFwLXNvdXRoLTEiRjBEAiAA%2FR8Pwf2fEMzgTqkBFkyY008PR80xRNsR8w0MlVJUfwIgXZcyf0okOeo%2Fg2se9KSm3KzXT85673Q7fctZulS7B3cq5AIIHxAAGgw5OTIzODI2ODA1MjIiDDvv1LuwWhtxK%2B%2BboSrBAqb4BPXgruPG%2BnHBWbfYW1siWbgeZtnmvIj%2Bdf0k%2BcZXBQItbXUYFd6woR9vunADFbmryT4D4mtLWkbYz80vWvcf%2BuMc6%2B1HNdefr9sGJ10x9KFMMTYLHjq86bTazdVb%2FhQjvjViA69SnYxiY56FS88C5CBr62zSUUHdTKabWg0IlJOT%2FgrkrMsDVOe8auHLdzpcjsZmhkw0lT0XZ7sV%2BqrysruV5h%2BguB%2Blhu%2FGhntywT59DuCOAiEUabuFRBvr5v1Zpv%2F2IcOwj5nTXHAfOvefnP%2FkY6T%2BlBqGiyIG7qIdxMJlo0xFEmeNRbE7WwcVnRo3%2FV1tN3%2BgmSPMoy45qjLjquZdWD7yvE3TuzU5FTWOAd5uUKpV5wqmkPPRffpG6Sihhc2DNrpFcRO0dM9JyE4MuxptwYOYxiEk3imzxp7RVTDhjPWxBjq0Ah53Z%2FadOCHG6mhE%2FEkLJYCduX7kbx%2FfdyQHbwzQZG%2FCIUfKNAQCu80nBG6CaHOaCahe3hxIREfGTkGK4SDEKt96fZc32qXY7c8U4SqgGZUug%2FhJRzqpmJiG5kMORvHmM7Nqow1dYWnwkSuapzKO7%2FkkPyWNfLdNkjSF9%2FU%2BdG%2FnCqFg9Gwa4E7twHT79tvhBy2aFGOCG2sb%2B0zpWFV4dLxNhl0kMK0sgT%2FT1sV21x%2B1Jm6a%2BBHRqzC6YRlnTfky4x3cEbsClkpFxb4GrkljX9%2FO0AmpJsSZJFdtioGJiKQw27CXobMMKhlEh36YAZw30SSwb1z3yoNnEsyXAY5Yt5NvZM06yAiZiEsMNclogrMtB1uCU4ohGSokhttFAIHwIigEREdr%2BaAJw3teT35JxFSUGkYZ&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240509T221051Z&X-Amz-SignedHeaders=host&X-Amz-Expires=43200&X-Amz-Credential=ASIA6ODU57XFEM4MHW4U%2F20240509%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=205c24bd5b83cac07a9105434fb90eec93efce1af4e62b0f3581762bf45a7342" download id="apk-btn">
                        <button><i class="fas fa-download"></i> Download APK</button>
                    </a>

                    <a href="/chatbot"><button id="chatbot-btn"><i class="fas fa-robot"></i> Chatbot</button></a>
                </div>
            </div>
            <div class="hero-image">
                <!-- <img src="Yuva Anubhav.jpg" alt="Yuva Anubhav"> -->
                <!-- <div id="chat-container">
            <h1>Yuvaanubhav Chatbot</h1>
            <div id="chat-history"></div>
            <form id="chat-form">
                <input type="text" id="user-input" placeholder="Enter your message">
                <button type="submit">Send</button>
            </form>
        </div> -->
                <div id="loader">
                    <img src="/logo.jpg" width="550px" alt="Loading...">
                
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; Yuva Anubhav</p>
    </footer>
    <!-- Chatbot Window -->
    <!-- <div id="chatbot-window" class="chatbot-window">
        <div class="chatbot-header">
            <h3>Chatbot</h3>
            <button class="close-btn">&times;</button>
        </div>
        <div class="chatbot-messages"></div>
        <div class="chatbot-input">
            <input type="text" placeholder="Type your message...">
            <button class="send-btn">Send</button>
        </div>
    </div> -->

    <script src="script.js"></script>

</body>

</html>